html {
  scroll-behavior: smooth;
}
body {
  margin: 0%;
  font-family: Arial, Helvetica, sans-serif;
}

.p1 {
  text-align: center;
  height: 100vh;
  background-color: #1c40ca;
  color: #fff;
}

.p1 img {
  height: 10rem;
}
.p1 .content {
  padding-top: 2%;
}
.content .hello {
  font-size: 8rem;
  font-weight: 700;
}
.content .info {
  font-size: 1.5rem;
}
.p1 a {
  color: #fff;
}
.p1 button {
  padding-top: 12px;
}
.content i {
  margin-top: 2%;
}
.p2 {
  text-align: center;
  height: 100vh;
}
.p2 .content {
  padding-top: 2%;
}
.p2 .project {
  font-size: 3rem;
  font-weight: 700;
  color: #1c40ca;
}
.p2 .list {
  font-size: 2rem;
}
.p2 .projectinfo {
  font-size: 1rem;
}
.p2 .card {
  margin-top: 20px;
  display: inline-table;
  width: 70%;
  font-weight: 700;
  text-align: left;
  color: #666666;
  border-radius: 7px;
}
.p3 .card {
  margin-top: 20px;
  display: inline-table;
  width: 70%;
  font-weight: 700;
  text-align: left;
  color: #fff;
  border-radius: 7px;
}
button {
  background-color: #fff;
  border: none;
  border-radius: 5px;
  padding: 12px;
  font-size: 1rem;
  color: #1c40ca;
  transition: 0.3s;
  margin-top: 9px;
  border: solid 2px #1c40ca;
}
button:hover {
  background-color: #1c40ca;
  color: #fff;
  cursor: pointer;
}
hr {
  margin-top: 12px;
  margin-bottom: 12px;
}
.bluegray:hover {
  color: #1c40ca;
}
.p3 {
  height: 100vh;
  background-color: #1c40ca;
  color: white;
}
.p3 .skills {
  text-align: center;
  padding-top: 5%;
}
.p3 .title {
  font-size: 3rem;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: 8px;
  padding-top: 50px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}
tr:hover {
  background-color: #1b37a7;
}
footer .content {
  padding-bottom: 1%;
  text-align: center;
}
footer a {
  color: #1c40ca;
  text-decoration: none;
  font-weight: 700;
}
@media only screen and (max-width: 600px) {
  .p1 .info {
    margin-left: 20px;
    margin-right: 20px;
  }
  .p1 .content {
    padding-top: 10%;
  }
  .p2 .list {
    font-size: 1.3rem;
  }
  .p2 .projectinfo {
    font-size: 0.7rem;
  }
}
.p3 button {
  align-items: center;
  margin-top: 30px;
}

.hover-item-up {
  transition: 0.3s;
}
.hover-item-up:hover {
  transform: translate(0, -10px);
}
.hover-item-down {
  transition: 0.3s;
}
.hover-item-down:hover {
  transform: translateY(10px);
}
